spring:
  profiles:
    active: local
  application:
    name: rewards-service
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8081

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
