spring:
  config:
    activate:
      on-profile: prod
  cloud:
    kubernetes:
      discovery:
        enabled: true
      config:
        enabled: true
        name: rewards-service
  
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
